<div class="header mb-4">
    <div class="brand left">
        <img class="logo" src="../../../assets/images/CTIO_Logo.png">
    </div>
    <div class="right-section">
        <h3 class="head-text mb-3">
            Safety Enforcement Program
        </h3>
        <nav class="w-100">
            <div class="btn-group w-100">
                <a routerLink="/violations" routerLinkActive="active"  class="btn" aria-current="page">Violations</a>
                <a routerLink="/about" routerLinkActive="active" class="btn">About the program</a>
                <a routerLink="/faq" routerLinkActive="active" class="btn">FAQs</a>
            </div>
        </nav>
    </div>

</div>