<div class="voilations-container">
    <h2 class="main-header mb-4">Safety Violations</h2>
    <div class="main-wrapper">
        <div class="content-wrapper">
            <div class="top-section d-flex">
                <span class="pl-2" (click)="navigateBack()">
                    <i class="fa fa-duotone fa-angle-left"></i> Back
                </span>
                <div class="top-section-header">
                    2019 GMC - LICENSE plate CO TBS·878
                </div>
            </div>
            <div class="content-section">
                <div class="px-3">
                    <h3 class="heading">
                        SAFETY VIOLATIONS
                    </h3>
                    <h5 class="description">
                        Multiple Civil Penalties are associated to the same vehicle: GMC Sierra, Colorado license plate
                        TBS·8782
                    </h5>
                    <div *ngIf="violations.length" class="more-info">They are arranged from oldest to newest. You have
                        the option to pay or
                        dispute individual Civil Penalties by deselecting from the list below.
                    </div>
                </div>
                <div style="overflow-x: auto;">
                    <table class="violations-table table table-striped table-responsive mt-4">
                        <colgroup>
                            <col *ngIf="violations.length>1" style="width:36px;">
                            <col style="width:140px;">
                            <col style="width:165px;">
                            <col style="width:auto;">
                            <col style="width:150px;">
                            <col style="width:78px;">
                            <col style="width:95px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th *ngIf="violations.length>1"></th>
                                <th>NOTICE NUMBER</th>
                                <th>DATE / TIME</th>
                                <th>TYPE OF SAFETY VIOLATION</th>
                                <th></th>
                                <th>AMOUNT</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of violations">
                                <tr>
                                    <td *ngIf="violations.length>1" class="ps-3">
                                        <input (change)="onChange(item.AmountDue, $event)" type="checkbox">
                                    </td>
                                    <td (click)="expandDetails(item)" class="notice-number">{{item.NoticeNumber}}</td>
                                    <td>{{item.Date}}</td>
                                    <td>
                                        <div class="overflow-ellipsis">
                                            {{item.ViolationType}}
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="item.discount" class="discount">
                                            <div class="value">
                                                <span>
                                                    {{item.Discount}}
                                                </span>
                                            </div>
                                            <div class="info mt-1">
                                                If paid before 12/14/2023. <br>
                                                If pay after <span
                                                    class="text-danger">$150</span>.
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{item.AmountDue}}</td>
                                    <td>
                                        <button class="evidence-btn" (click)="openModal(item)">
                                            <div class="d-flex align-items-center">
                                                <i class="fa fa-light fa-large fa-car text-white"></i>
                                                <div class="text-start ms-1">
                                                    Review Evidence
                                                </div>
                                            </div>
                                        </button>
                                    </td>
                                </tr>
                                <tr *ngIf="item?.noticeDetailToggle">
                                    <td colspan="7">
                                        <table class="table table-striped expanded-table" style="margin: auto;">
                                            <thead>
                                                <tr>
                                                    <th>Lane</th>
                                                    <th>Transaction Date</th>
                                                    <th>Transaction Number</th>
                                                    <th>Status</th>
                                                    <th>Toll Amount</th>
                                                    <th>ImageName_IR</th>
                                                    <th>ROI_ImageName_IR</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let detail of item?.noticeDetailData">
                                                    <td>{{detail.Lane}}</td>
                                                    <td>{{detail.TransactionDate}}</td>
                                                    <td>{{detail.TrxnNum}}</td>
                                                    <td>{{detail.Status}}</td>
                                                    <td>${{detail.TollAmount}}</td>
                                                    <td>{{detail.ImageName_IR}}</td>
                                                    <td>{{detail.ROI_ImageName_IR}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </ng-container>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td  *ngIf="violations.length>1"></td>
                                <td></td>
                                <td></td>
                                <td colspan="2" class="total text-end">outstanding balance:</td>
                                <td class="total-amount"> ${{totalAmount}}</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="text-center my-3">
                    <button (click)="PaymentSubmit()" class="pay-btn">
                        {{paymentText}}
                    </button>
                </div>
                <div class="text-center mb-4">
                    <a href="#" class="dispute-link">{{disputeLinkText}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal" *ngIf="showModal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="close-btn" (click)="closeModal()">
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <div class="d-flex details-section">
                <div class="car-image">
                    <img src="../../assets/images/car-image.png" alt="car" width="388" height="290">
                </div>
                <div class="violation-details p-3">
                    <h5 class="violation-heading mb-3">
                        GMC SIERRA - plate TBS·8782 - colorado
                    </h5>
                    <div>
                        <div class="label mb-1">NOTICE NUMBER</div>
                        <div class="value mb-3">110 000 406 360</div>
                    </div>
                    <div>
                        <div class="label mb-1">DATE / TIME</div>
                        <div class="value mb-3">10/23/2023 12:07 AM</div>
                    </div>
                    <div>
                        <div class="label mb-1">TYPE OF SAFETY VIOLATION</div>
                        <div class="value mb-3">Entering Express Lane outside authorized ingress zone</div>
                    </div>
                </div>
            </div>
            <div class="route">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>

    </div>
</div>